{% extends "list_base.html" %}
{% block title %}List_Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename="bootstrap/bootstrap.4.6.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}">
{% endblock %}

{% block body %}
{#  <div class="row">#}
{#    <div class="col"></div>#}
{#    <div class="col-8">#}
{#      <ul class="question-ul">#}
{#        {% for todo in todos %}#}
{#        <li>#}
{#          <div class="side-question">#}
{#            <!--头像-->#}
{#            <img class="side-question-avatar" src="{{ url_for('static',filename='images/1.jpg') }}" alt="">#}
{#          </div>#}
{##}
{#          <div class="question-main">#}
{#            <p class="question-title"><a href="#">{{ todo.title }}</a></p>#}
{#            <p class="question-content">{{ todo.content }}</p>#}
{#            <p class="question-detail">#}
{#              <span class="question-author">{{ todo.user.username }}</span>#}
{#              <span class="question-time">{{ todo.create_time }}</span>#}
{#            </p>#}
{#          </div>#}
{#        </li>#}
{#          <br><br>#}
{#        {% endfor %}#}
{#      </ul>#}
{#    </div>#}
{#    <div class="col"></div>#}
{#  </div>#}
<div class="container">
  <div class="row">
    <div class="col-3">the left side</div>
    <div class="col-6">
      <br><br>
      <div class="table-responsive">
        <table  class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Heading</th>
              <th scope="col">Status</th>
              <th scope="col">Deadline</th>
            </tr>
          </thead>

          <tbody>
            {% for todo in todos %}
              <tr>
                  <th scope="row"><a href="{{ url_for('list.detail',todo_id=todo.id) }}">{{ todo.id }}</a></th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.completion }}</td>
                <td>Deadline</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3">the right side</div>
  </div>
</div>
{% endblock %}